<div class="titleHeader">
    <h3 class="title left-bar center">Mijn ToDo's</h3>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

<div class="todoBox">
    <div class="row">
        <ng-container *ngFor="let item of todolist">
            <div [ngStyle]="applyStyles(item)" class="card mb-3 cardWidth col-sm-12 col-md-12 col-lg-4 mr-2 pl-0 pr-0 d-flex m-sm-auto m-md-0 mb-md-3 ml-md-1">
                <div (click)="detail(item.id)">
                    <div class="card-body text-center font-weight-bold card-font-size">
                        <h5 class="card-title"></h5>
                        <p class="card-text">{{ item.title }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-right">
                        <button type="button" class=" btn btn-success h-100" aria-label="Check" (click)="edit(item.id)">
              <i class="fas fa-edit"></i>
            </button>
                    </div>
                    <div class="col">
                        <button type="button" class=" btn btn-danger h-100" aria-label="Close" (click)="delete(item.id)">
              <i class="fa fa-window-close" aria-hidden="true"></i>
            </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>

<div class="newItemBox" (click)="add()">
    <i class="fas fa-plus mr-2"></i>
    <p class="font-weight-bold">Create new Todo</p>
</div>